/* Challenge Viewer Styles */
.challenge-display {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.react-pdf__Page {
  display: block !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.react-pdf__Page__canvas {
  display: block !important;
  width: 100% !important;
  max-width: 600px !important;
  height: auto !important;
}

.react-pdf__Document {
  line-height: 0 !important;
  width: 100%;
}
